USE [master]
GO
/****** Object:  Database [db]    Script Date: 31/08/2019 02:52:27 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'db')
DROP DATABASE [db]
GO
/****** Object:  Database [db]    Script Date: 31/08/2019 02:52:27 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'db')
BEGIN
CREATE DATABASE [db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
